html, body {
  background-color: #252839 !important;
}

p {
  align-content: center;
  background-color: #495285;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}

p > span {
  opacity: 0.4;
  text-align: center;
}

input {
  background: hsla(360, 100% , 100%, .15) !important;
  color: whitesmoke !important;
}

/********************************************************************** 
* REACT SIMPLE CODE EDITOR CSS OVERRIDES
**********************************************************************/

textarea:focus {
  border: none !important;
  outline: none !important;
}

/********************************************************************** 
* REPRISM PLUGIN CSS OVERRIDES
**********************************************************************/

:not(pre) > code[class*="language-"], pre[class*="language-"]  {
  background: none !important;
}

pre[class*="language-"] {
  padding: 0 !important;
  margin: 0 !important;
}

code[class*="language-"], pre[class*="language-"] {
  line-height: inherit !important;
  font-family: inherit !important; /* Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace */
  font-size: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
}
